In [1]:
import pandas as pd

In [7]:
df = pd.DataFrame({
    'a': [10, 11, 12],
    'b': [3, 4, 5]

})

In [8]:
df

    a  b
0  10  3
1  11  4
2  12  5

In [11]:
df['a']

0    10
1    11
2    12
Name: a, dtype: int64

In [13]:
def my_exp(x, e):
    return x**e

In [15]:
df['a'].apply(my_exp, e=2)

0    100
1    121
2    144
Name: a, dtype: int64

In [16]:
def print_me(x):
    print(x)

In [18]:
df.apply(print_me)

0    10
1    11
2    12
Name: a, dtype: int64
0    3
1    4
2    5
Name: b, dtype: int64

a    None
b    None
dtype: object

In [19]:
print_me

In [28]:
def avg_3_apply(col):
    print(type(col))
    x = col[0]
    y = col[1]
    z = col[2]
    print(x, y, z)

In [29]:
df.apply(avg_3_apply)

<class 'pandas.core.series.Series'>
10 11 12
<class 'pandas.core.series.Series'>
3 4 5

a    None
b    None
dtype: object

In [30]:
import numpy as np

In [31]:
def avg_2(x, y):
    if (x == 10):
        return np.NaN
    else:
        return (x+y)

In [32]:
avg_2(df['a'], df['b'])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [33]:
np.vectorize(avg_2)

In [34]:
avg_2_vec = np.vectorize(avg_2)

In [35]:
avg_2_vec(df['a'], df['b'])

array([nan, 15., 17.])

In [38]:
@np.vectorize
def avg_2(x, y):
    if (x == 10):
        return np.NaN
    else:
        return (x+y)

In [39]:
avg_2(df['a'], df['b'])

array([nan, 15., 17.])

In [40]:
avg_2(3,3)

array(6)